// background: #aa4b6b;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

$p-bg: #aa4b6b;
$p-bg-wk: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
$p-bg-gd: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); 

.btn-primary {
    background: $p-bg;
    background: $p-bg-wk;
    background: $p-bg-gd;
  }

//   background: #3a6186;  /* fallback for old browsers */
//   background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$s-bg: #3a6186 ;
$s-bg-wk: -webkit-linear-gradient(to right, #89253e, #3a6186);
$s-bg-gd: linear-gradient(to right, #89253e, #3a6186);

.btn-secondary {
    background: $s-bg;
    background: $s-bg-wk;
    background: $s-bg-gd;
}

// background: #3CA55C;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
